.anahi {
    width: 400px;
    height: auto;
    float: left;
    padding: 10%;
    background-color: rgba(93, 46, 110, 0.626);
}

.anahi img {
width: 400px;
height:auto;
}

.anahi p {
    border-style:dotted;
    border-color:rgb(21, 119, 52)

}