.anahi {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    text-align: center;
    background-color: rgb(207, 160, 100);
    }
.maria {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    text-align: center;
    background-color: rgb(207, 160, 100);
  }
  .nala p {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    text-align: center;
    background-color: rgb(207, 160, 100);
  }
  .maria img{
    width: 200px;
  }
  .anahi img{
    width: 200px;
  }
  .nala img {
    width:200px;
    
  }
h1{
    text-align: center;
}

body{
    background-color: darkolivegreen;
}
.anahi p {
    border-style:solid;
    border-color: hsl(217, 39%, 40%)
    text-align: center;
    background-color: hsl(217, 39%, 40%)
}
p {
    font-size: 20px;
    line-height: 30px;
}
ul {
        font-size: 20px;
        line-height: 30px;
}