.anahi {
    width: 400px;
    height: auto;
    float: left;
    padding: 10%;
    background-color: rgba(93, 46, 110, 0.626);
}

.anahi img {
width: 400px;
height:auto;
}

h1{
    text-align: center;
}

body{
    background-color: darkolivegreen;
}
.anahi p {
    border-style:solid;
    border-color:rgb(21, 119, 52)

}
