.anahi {
    width: 200px;
    height: auto;
    float: left;
    padding: 10%;
    background-color: rgb(78, 149, 78);
  }
  .pina  {
    width:200px;
    height: auto;
    float: left;
    padding: 10%;
    background-color:rgb(105, 91, 91);
  }
  .pizza  {
    width:200px;
    height: auto;
    float: left;
    padding: 10%;
    background-color:rgb(105, 91, 91);
  }
.anahi p{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    text-align: center;
    background-color: rgb(103, 47, 108);
    }
.pizza p{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    text-align: center;
    background-color: rgb(101, 75, 41);
  }
.pina p{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    text-align: center;
    background-color: rgb(59, 87, 32);
  }
.pizza img{
    width: 200px;
  }
.anahi img{
    width: 200px;
  }
.pina img{
    width:200px;
    
  }
h1{
    text-align: center;
}

body{
    background-color: darkolivegreen;
}
p {
    font-family: sans-serif;
}